body{
    border: 1px solid black;
    height: 700px;
    width: 90%;
    margin: 50px;
}
.blur{
    filter: blur(15px);
}
.al{
    height: 140px;
    width: 340px;
    border: 1px solid red;
    position: absolute;
    top: 250px;
    left: 600px;
    border-radius: 20px;
    background: white;
    text-align: center;
    padding-top: 20px;
    color: rgb(253, 140, 74);
    box-shadow: 10px 10px 7px rgb(202, 191, 191);
}
.inputbox{
    border-color: rgb(248, 128, 107);
    border-radius: 5px;
}
.ib{
    padding: 5px 15px;

    border:1px solid tomato;
    background: tomato;
    color: white;
    border-radius: 30px;
}
.bottom{
    padding-left: 190px;
    padding-top: 75px;
}