.main{
    width: 50%;
    margin: auto;
    margin-top: 100px;
    margin-left: 600px;
}
.head{
    font-size: 45px;
    display:  inline-block;
    font-weight: 800;
    
}
.gb{
    margin-bottom: 50px;
    margin-left: 60px;
    /* display: inline-block; */
    /* position: relative; */
}
.text{
    font-size: 20px;
    display: inline-block;
}
/* .bl{
    display: inline-block;
} */
.parent{
    height: 500px;
    width: 350px;
}
.card{
    border: 1px solid rgb(226, 67, 67);
    border-radius: 10px;
    box-shadow: 10px 10px 7px rgb(202, 191, 191);
    height: 300px;
    width: 250px;
    margin-right: 60px;
    padding-left: 50px;
    

}
.org{
    color: rgb(236, 70, 10);
    text-align: center;
    font: 1.5em sans-serif;
    opacity: 60%;
    text-decoration: none;
}
.und{
    text-decoration:  2px line-through;
    color: rgb(236, 70, 10);
    text-align: center;
    font: 20px sans-serif;
    padding-right: 15px;
    margin-top: 35px;
}

a{
    text-decoration: none;
    font-size: 40px;
    opacity: 50%;
    color: black;
}
.head{
    justify-content: center;
    opacity: 70%;
}
.bottom{
    padding-left: 200px;
    padding-top: 80px;
}